{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<div class="container">
  <div class="row my-3">
   <div class="col-sm-6 offset-sm-3">
    <h3>Log in</h3>
    <hr>
    <form action="" method="post" novalidate class="shadow p-5">
     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     </div>
     <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
     </div>
     <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
          Remember me
        </label>
      </div>
    </div>

     <small><a href="/forgot">Forgot Password ?</a></small> <br>
     <input type="submit" class="btn btn-primary mt-4" value="Login">
     <br>
     <div class="text-center text-primary fw-bold"><small>New to Ekart ? <a href="/register"
        class="text-danger">Create an Account</a> </small></div>
    </form>
   </div>
  </div>
 </div>


{% endblock 'main' %}